* {
  box-sizing: border-box;
}

body {
   background-color: #2c2c2c;
   color: white;
}

h1 {
 text-align: center;
}

#search, #searchBtn, #nextBtn {
   float: right;
   margin: 5px;
}

.row {
  display: flex;
  /* padding-bottom: 5px; */
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}

img {
   width:100%;
   max-height: 360px;
   height: auto;
   cursor: pointer;
   /* transition: transform .35s;  */
}

/* #nextBtn {
   float: right;
} */

/* img:hover {
  transform: scale(1.05); 
} */